# Configuración del Servidor
PUERTO=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173,https://curifor-tickets.netlify.app

# Configuración de Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_clave_service_role_secreta
